.body_body_color {
  // background-color: #f5f5eb;
}

* {
  box-sizing: border-box;
  // outline: 1px solid red;
}

.no_margin {
  margin: 0px !important;
}

.fixed_size {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1200px;
}

.see_more {
  width: 100%;
  text-align: center;

  .click_to {
    &:hover {
      background-color: #D7C0AE;
      color:white;
    }
    transition: .5s;
    text-decoration: none;
    padding: 10px;
    width: 220px;
    margin-top: 15px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid black;
    padding: 16px;
  }
}

//classname for title
.title_begin {
  width: 100%;
  text-align: center;
  padding: 25px;

  .title_begin_1 {
    font-size: 20px;
    padding-top: 20px 15px 15px;
    color: #96b74b;
    font-weight: bold;
    letter-spacing: 0.06em;
    text-align: center;
  }

  .title_begin_2 {
    color: #3c3530;
    font-size: 34px;
    font-weight: bold;
    margin-top: -1px;
    letter-spacing: 0.06em;
    line-height: 1.4;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
  }
}

.home {
  .intro_about_us {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    width: 100%;

    .about_us_img {
      width: 50%;
      float: left;
      position: relative;

      img {
        border-radius: 50%;
        width: 100%;
      }
    }

    .about_us_history {
      width: 50%;
      float: right;
      padding: 25px;
      font-size: 20px;
      margin-right: auto;
      margin-left: auto;
      min-height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 3px;
      line-height: 28px;
    }
  }

  .intro_how {
    .title_begin_2 {
      font-size: 25px !important;
    }

    .intro_how_content {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;

      .intro_how_title {
        margin: 15px 15px;
        color: gray;
      }
    }

    padding: 95px 0 120px;
    text-align: center;
    position: relative;
    background: #e5efef url(http://katofarm-f.jp/svg/bg-index-point-bottom.svg) repeat-x center bottom;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff url(http://katofarm-f.jp/svg/bg-index-message-bottom.svg) repeat-x center bottom;
      height: 60px;
    }
  }

  .create_commit {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .intro_notification {
    padding: 0px 0 50px;

    .intro_notification_content {
      max-width: 1000px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;

      .notification_list {
        padding: 7px 22px;
        margin-bottom: 16px;
        border-bottom: 1px dotted #969696;

        .action_time {
          text-decoration: none;
          font-style: normal;
          margin-right: 10px;
        }

        .username {
          font-weight: 800;
          margin-right: 10px;
        }
      }
    }
  }

  .intro_googlemap {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    max-height: 600px;
    display: inline-block;
    padding: 40px 0;
    height: 100vh;
    margin-bottom: 200px;

    // background-color: #bbb39f;
    .googlemap_wrap {
      position: relative;

      .google_map_plant {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .Googlemap {
        width: calc(100% - 50px);
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 48px;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
      }
    }
  }
}

.card {
  border: none;
  background-color: inherit;

  p {
    height: 100px;
    padding: 5px;
    letter-spacing: 2.5px;
  }

  h3 {
    text-align: center;
    line-height: 1.36364;
    color: #ff9641;
    font-size: 20px;
  }
}

.intro_product {
  width: 100%;

  .product_box {
    .product {
      &:hover {
        opacity: 1;
        backface-visibility: hidden;
      }
      display: inline-block;
      padding: 0;
      height: 300px;

      .product_img {
        height: 100%;
        width: 100%;
      }

      &:nth-child(1) {
        border-right: solid 1px #e6e6e6;
      }

      &:nth-child(2) {
        border-right: solid 1px #e6e6e6;
      }
    }

    .product_icon {
      width: 30px;
      height: 30px;
      margin: 15px;
    }

    .product_1 {
      position: relative;
    }
  }
}

.family_intro {
  .family_img {
    width: 50%;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .family_content {
    line-height: 60px;
    width: 50%;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;

  }
}

.gm-style .gm-style-iw-c {
  top: -40px;
}

.gm-style .gm-style-iw-t {
  &:after {
    top: -40px;
  }
}

// media query
@media (max-width: 768px) {
  .family_intro {
    .family_img {
      width: 100%;
    }

    .family_content {
      width: 100%;
    }
  }
}

.m_t_15 {
  margin-top: 15px;
}


@media screen and (max-width: 2000px) and (min-width: 980px) {
  .carousel-item {
    img {
      height: 95vh !important;
    }
  }
}

.index_info {
  position: absolute;
  left: 41%;
  top: 40%;
  z-index: 3;
  font-family: 'Josefin Sans';
}
