.home_header {
  background-image: url(http://katofarm-f.jp/images/assets/bg-index-mainvisual@2x.png);
  background-size: 2000px auto;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 820px;
  background-size: 2000px auto;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 820px;
}
