*{
//   outline: 1px solid red;
  box-sizing: border-box !important;
}
body, h2, p{
  font-family: Verdana,Arial,\\5fae\8edf\6b63\9ed1\9ad4,specialTextFont,\\5fae\8edf\96c5\9ed1\9ad4,Microsoft YaHei!important;
}



body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a{
text-decoration: none;
  
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.color_01 {
  color: #FF9641;
}

.color_02 {
  color: #81C4FF;
}

.color_03 {
  color: #A87E4B;
}
