* {
  // outline: 1px solid red;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
}

.navbar {
  background-color: lightblue;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  span {
    color: black;
    font-size: 20px;
    margin: 20px;
    &:hover {
      color: red;
    }
  }
  a {
    text-decoration: none;
  }
}
.Dashboard {
  width: 100%;
  height: auto;
  clear: both;
      margin: 20px;

  .ProjectList {
    height: auto;
    width: 50%;
    float: left;
    .project_summary {
      min-height: 300px;
      background-color:lightgray;
      .project_title {
        color: red;
        font-weight: bold;
      }
      .project_name {
        color: bisque;
        text-decoration: underline;
      }
      .project_time {
        color: lightgray;
        font-style: italic;
      }
    }
  }
  .Notification {
    background-color:lightgoldenrodyellow;
    width: 50%;
    color: red;
    font-weight: bold;
    height: auto;
    float: right
  }
}

.ProjectDetails {
  background-color: lightpink;
  margin: 20px;
  box-sizing: border-box;
  .project_id {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  .posted_by {
    color: green;
    font-weight: bold;
    font-size: 20px;
  }
}

ul {
  display: inline-block;
  margin: 15px;
  li {
    display: inline-block;
    text-transform: uppercase;
    a {
      display: inline-block;
      margin: 15px;
      cursor: pointer;
    }
  }
}

.authError {
  background-color: red;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
.welcome {
  font-size: 20px;
  color: darkblue;
  font-weight: bold;
}

.postPerson {
  font-size: 20px;
  font-weight: bold;
  color: brown;
}
.post_time {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
