.signIn {
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    width: 400px;

    img {
      width: 100%;
    }
  }

  .right {
    .google_sign_in {
      height: 40px;
      border-width: 0;
      background: white;
      color: #737373;
      border-radius: 5px;
      white-space: nowrap;
      box-shadow:3px 1px 13px 9px rgba(0, 0, 0, 0.05);
      transition-property: background-color,
        box-shadow;
      transition-duration: 150ms;
      transition-timing-function: ease-in-out;
      padding: 0;
&:hover{
      box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
      .google-button__icon {
        display: inline-block;
        vertical-align: middle;
        margin: 8px 0 8px 8px;
        width: 18px;
        height: 18px;
        box-sizing: border-box;
      }

      .google-button__text {
        display: inline-block;
        vertical-align: middle;
        padding: 0 24px;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Roboto',
          arial,
          sans-serif;
      }
    }
  }
}
